<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeathMenu : DOOM-PRIMA-Edition</title>
    <link rel="stylesheet" href="../../styles/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="menuContainer">
    <div class="imgContainer">
        <img src="../../spritesheets/doomLogo.png">
        <section>You died!</section>
    </div>
    <table>
        <tbody>
            <tr id="health"></tr>
            <tr id="killedEnemies"></tr>
            <tr id="timeTaken"></tr>
            <tr id="score"></tr>
        </tbody>
    </table>
    <div class="buttonContainer">
        <button class="restartGameButton">
            <a href="../Game/DoomClone.html">Restart game</a>
        </button>
        <button class="mainMenuButton">
            <a href="MainMenu.html">Go to mainmenu</a>
        </button>
    </div>
</div>
</body>
</html>