<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mainmenu : DOOM-PRIMA-Edition</title>
    <link rel="stylesheet" href="../../../DoomClone/styles/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="menuContainer">
    <div class="imgContainer">
        <img src="../../spritesheets/doomLogo.png">
        <section>PRIMA-Edition</section>
    </div>
    <div class="buttonContainer">
        <button>
            <a href="../Game/DoomClone.html">Start game</a>
        </button>
        <button>
            <a href="ControlMenu.html">Controls</a>
        </button>
    </div>
</div>
</body>
</html>