<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PauseMenu : DOOM-PRIMA-Edition</title>
    <link rel="stylesheet" href="../../styles/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="menuContainer">
    <div class="imgContainer">
        <img src="../../spritesheets/doomLogo.png">
        <section>Game Paused</section>
    </div>
    <div class="buttonContainer">
        <button class="resumeGameButton">Resume game</button>
        <button class="mainMenuButton">Go to mainmenu</button>
    </div>
</div>
</body>
</html>