<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WinMenu : DOOM-PRIMA-Edition</title>
    <link rel="stylesheet" href="../../styles/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="../../Menus/SuccessAndDeathMenuManager.js"></script>
</head>
<body>
<div class="menuContainer">
    <div class="imgContainer">
        <img src="../../spritesheets/doomLogo.png">
        <section>You won!</section>
    </div>
    <table>
        <tbody>
            <tr id="health">
                <td>Remaining health :</td>
            </tr>
            <tr id="killedEnemies">
                <td>Killed enemies :</td>
            </tr>
            <tr id="timeTaken">
                <td>Time taken :</td>
            </tr>
            <tr id="score">
                <td>Score :</td>
            </tr>
        </tbody>
    </table>
    <div class="buttonContainer">
        <button>
            <a href="../Game/DoomClone.html">Restart game</a>
        </button>
        <button>
            <a href="MainMenu.html">Go to mainmenu</a>
        </button>
    </div>
</div>
</body>
</html>