<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DOOM-PRIMA-Edition</title>
    <script>FudgeCore = {fudgeConfig: {antialias: true, alpha: true}}</script>
    <script src="../../FudgeCore/FudgeCore.js"></script>
    <script src="../../FudgeAid/FudgeAid.js"></script>
    <script src="../../Helper/ControlsLoader.js"></script>
    <script src="../../GameAssets/Bullet.js"></script>
    <script src="../../GameAssets/EnemyBullet.js"></script>
    <script src="../../GameAssets/Obstacles/Obstacle.js"></script>
    <script src="../../GameAssets/Obstacles/Door.js"></script>
    <script src="../../GameAssets/Items/Item.js"></script>
    <script src="../../GameAssets/Items/HealthKit.js"></script>
    <script src="../../GameAssets/Items/ArmorKit.js"></script>
    <script src="../../GameAssets/Items/AmmoKit.js"></script>
    <script src="../../GameAssets/Player.js"></script>
    <script src="../../GameAssets/Enemy.js"></script>
    <script src="../../GameAssets/Obstacles/Wall.js"></script>
    <script src="../../GameAssets/Ground.js"></script>
    <script src="../../GameAssets/Roof.js"></script>
    <script src="../../Menus/GameMenuManager.js"></script>
    <script src="../../Main.js"></script>
    <link rel="stylesheet" href="../../styles/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="HUDContainer">
        <div class="HUDElement">
            <nav id="ammoPanel">100</nav>
            <section>Ammo</section>
        </div>
        <div class="HUDElement">
            <progress id="healthBar" value="100" max="100"></progress>
            <section>Health</section>
            <progress id="staminaBar" value="100" max="100"></progress>
            <section>Stamina</section>
        </div>
        <div class="HUDElement">
            <canvas id="portraitCanvas"></canvas>
        </div>
        <div class="HUDElement">
            <nav>Pistol</nav>
            <section>Weapon</section>
        </div>
        <div class="HUDElement">
            <nav id="armorPanel">100%</nav>
            <section>Armor</section>
        </div>
    </div>
</header>
<div id="pauseMenu" class="menuContainer" style="display: none">
    <div class="imgContainer">
        <img src="../../spritesheets/doomLogo.png">
        <section>Game Paused</section>
    </div>
    <div class="buttonContainer">
        <button id="resumeGameButton">Resume game</button>
        <button>
            <a href="../Menus/MainMenu.html">Go to mainmenu</a>
        </button>
    </div>
</div>
<canvas id="game"></canvas>
<img id="portrait" src="../../spritesheets/Player/faceSprites.png">
<img id="cacodemonIdle" src="../../spritesheets/Enemy/cacodemonIdle.png">
<img id="cacodemonHit" src="../../spritesheets/Enemy/cacodemonHit.png">
<img id="cacodemonShoot" src="../../spritesheets/Enemy/cacodemonShoot.png">
<img id="cacodemonDeath" src="../../spritesheets/Enemy/cacodemonDeath.png">
<img id="projectile" src="../../spritesheets/Enemy/EnemyProjectile.png">
<img id="enemyProjectileExplosion" src="../../spritesheets/Enemy/EnemyProjectileExplosion.png">
<img id="playerProjectileExplosion" src="../../spritesheets/Player/projectileExplosion.png">
<img id="ground" src="../../spritesheets/Surfaces/groundTexture.png">
<img id="roof" src="../../spritesheets/Surfaces/roofTexture.png">
<img id="pistol" src="../../spritesheets/Player/pistol.png">
<img id="wall" src="../../spritesheets/Obstacles/wall.png">
<img id="door" src="../../spritesheets/Obstacles/door.png">
<img id="ammo" src="../../spritesheets/ammoKit.png">
<img id="health" src="../../spritesheets/healthKIt.png">
<img id="armor" src="../../spritesheets/armorKit.png">
</body>
</html>